@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;;
    --font2: "Passion One", cursive;
    --font3: Sriracha, cursive; 
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: #fff;
    font-family: var(--font2);
    text-align: center;
}

header h1 {
    font-size: 5vw;;
    line-height: 2em;
    padding-top: 50px;
    font-weight: bold;
    font-variant: small-caps;
    
}

header p {
    font-family: var(--font1);
    padding-bottom: 50px;
}

header a {
    color: #fff;
    font-weight: 600;
}
header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.texto {
    display: inline-block;

    padding-top: 10vh;
    padding-left: 30px;

    font-family: var(--font3);
    font-size: 3.5vw;;
 
}

.texto > p {
    padding-top: 40px;
}

section#joa {
    display: block;
    background-color: black;
    background-image: url('img/background001.jpg');
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

section#carta {
    display: block;
    background-color: black;
    background-image: url('img/background002.jpg');
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

.fundo > p {
    display: inline-block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    color: #fff;

    left: 50%;
    top: 50%;

    transform: translate(-95%, -50%);
    padding-left: 3rem;
    padding-right: 3rem;
    
    font-family: var(--font3);
    font-size: 3.5vw;;
    line-height: 2em;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    font-family: var(--font1);
    padding-top: 0.3em;
}

footer a {
    color: #fff;
    font-family: var(--font1);
}

footer a:hover {
    text-decoration: underline;
}